<div class='article' ...attributes>
  <img
    src='/images/{{@article.image}}'
    alt='placeholder'
    class='article__image'
  />
  <div class='article__body'>
    <h5 class='article__title'>
      <LinkTo @route='articles.show' @model={{@article}}>
        {{@article.title}}
      </LinkTo>
    </h5>
    <span class='article__created-at'>{{@article.created_at}}</span>

    <p>
      {{#if @fullText}}
        {{@article.full_text}}
      {{else}}
        {{@article.text}}
      {{/if}}
    </p>
  </div>
</div>
