<div>
  <div>
    <img src='/images/{{@article.image}}' alt='placeholder' />
  </div>
  <div>
    <h5>
      <LinkTo @route='articles.show' @model={{@article}}>
        {{@article.title}}
      </LinkTo>

    </h5>
    <span>{{@article.created_at}}</span>

    <p>
      {{#if @fullText}}
        {{@article.full_text}}
      {{else}}
        {{@article.text}}
      {{/if}}
    </p>
  </div>
</div>
